.app {
  background-color: #fff;
  border-radius: 23px;
  width: 327px;
  margin: 0 auto;
  padding: 1.25rem 1.25rem 3rem;
  position: relative;
}
.box {
  display: none;
}
.images {
  position: relative;
}
.desktop,
.desk-pattern {
  display: none;
}
.mobile {
  width: 63.2%;
  height: auto;
  margin: 0 auto;
  display: block;
  transform: translateY(-70%);
}
.mob-pattern {
  position: absolute;
  left: 2.5rem;
  top: -1.4rem;
}
.text {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  color: #1e1f36;
  font-size: 32px;
  line-height: 40px;
  margin-top: -55px;
}
.rotate {
  rotate: 180deg;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}
.answer {
  padding-bottom: 18px;
}
hr {
  background: #e8e8ea;
  border: none;
  height: 2px;
}
.header {
  padding: 18px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
}
.headeractive {
  padding: 18px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  font-weight: 700;
}
.article {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .app {
    display: flex;
    width: 920px;
    padding: 0px 111px 0px 0;
    justify-content: flex-end;
  }
  .mob-pattern {
    display: none;
  }
  .desk-pattern {
    position: absolute;
    display: block;
    top: -300px;
    left: -545px;
    width: 964px;
    height: 944px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
    position: absolute;
    left: -50px;
    width: 471px;
    top: 55px;
    z-index: 1;
  }
  .text {
    margin-top: 65px;
    text-align: left;
  }
  .article {
    width: 350px;
  }

  .box {
    display: block;
    position: absolute;
    left: -105px;
    z-index: 1;
    top: 200px;
  }
  .layer {
    width: 920px;
    height: 539px;
    overflow: hidden;
    position: relative;
  }
}
